@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Montserrat:wght@100&display=swap');

/* nav-bar styling******* */

body {
    margin: 0;
    padding: 0;
    position: relative;
}


/*  menu icon  */

.menu {
    display: none;
}

.left {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}

#navbarNavAltMarkup {
    width: 86vw;
    height: 0px;
    animation: toggle1 0.5s ease-in-out;
    /* ******toggle nav bar animation */
}

@keyframes toggle1 {
    from {
        height: 0px;
    }
    to {
        height: 100vh;
    }
}

#navbarNavAltMarkup span {
    display: none;
}

.left a {
    color: rgb(255, 255, 255) !important;
    margin: 12px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.right {
    display: flex;
    flex-direction: row;
    float: left;
    margin-right: 10px;
}

.right a {
    margin-left: 15px;
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar {
    background-color: transparent!important;
    padding: 30px 30px 0px 30px;
    top: 0;
    position: fixed;
    z-index: 100;
}

.btn-success {
    background-color: #12ed87 !important;
    color: #fff !important;
    margin: 5px;
    border: none;
    outline: none;
}

.btn-dark {
    background-color: rgb(27, 26, 26);
    color: #fff !important;
    margin: 5px;
    border: none;
    outline: none;
}


/*  styling the main section*********************** */

.main {
    position: relative;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    animation: animate 16s ease infinite;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}


/* the background animation  */

@keyframes animate {
    0%,
    100% {
        background-image: url("../images/10.jpg");
    }
    25% {
        background-image: url("../images/20.jpg");
    }
    50% {
        background-image: url("../images/30.jpg");
    }
    75% {
        background-image: url("../images/40.jpg");
    }
}


/* styling the logo  */

.navbar-brand {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    object-fit: contain;
}

.navbar-brand img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}


/* bark overlay  */

.overlay {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.left-name {
    position: absolute;
    top: 300px;
    left: 40px;
    z-index: 10;
    color: white;
}

.left-name h1 {
    font-weight: 700;
    font-size: 60px;
    color: #c7dec7;
    font-family: 'Akaya Kanadaka', cursive;
}

.left-name p {
    font-size: 20px;
    color: #d7f9f9;
    font-weight: 700;
}

.bottom {
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    position: absolute;
    top: 400px;
    left: 580px;
    color: white;
    margin: 12px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.bottom a {
    z-index: 1000;
    cursor: pointer;
    pointer-events: auto;
    position: relative;
}

.bottom img {
    width: 80px;
    height: 80px;
    border: none;
    color: white;
    cursor: pointer;
}


/* mobile responsiveness */

@media (max-width:1150px) and (min-width:991px) {
    #navbarNavAltMarkup {
        width: 80vw;
    }
    .bottom {
        top: 400px;
    }
}

@media only screen and (max-width: 991px) {
    #navbarNavAltMarkup {
        /* display: flex !important; */
        /* flex !important on toggle */
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 10;
        top: 0;
        left: 0;
        position: relative;
    }
    #navbarNavAltMarkup span {
        position: absolute;
        top: 5%;
        right: 5%;
        display: inline;
    }
    .navbar-nav {
        flex-direction: column-reverse;
    }
    .left {
        flex-direction: column;
    }
    .left a {
        border-bottom: 1px solid white;
    }
    .right {
        margin-top: 10px;
    }
    .container-fluid {
        position: relative;
        display: initial;
        padding: 0px !important;
        width: 100vw;
    }
    .navbar {
        flex-wrap: nowrap;
        padding: 0px;
    }
    .navbar-brand {
        margin: 0px;
        padding: 0px;
        position: absolute;
        top: 10px;
        left: 10px;
    }
    .container-fluid a {
        font-size: 21px;
    }
    .btn {
        padding: 5px;
    }
    .display {
        display: flex !important;
    }
    .menu {
        display: initial;
        position: absolute;
        top: 15px;
        right: 10%;
    }
}

@media only screen and (max-width: 775px) {
    .left-name h1 {
        font-size: 45px;
    }
    .left-name {
        top: 20%;
        left: 30%;
    }
    .left-name p {
        font-size: 16px;
    }
    .bottom {
        font-size: 14px;
        top: 60%;
        left: 40%;
    }
}

@media only screen and (max-width: 367px) {
    .left-name h1 {
        font-size: 29px;
    }
    .bottom {
        margin: 0;
        top: 70%;
        left: 30%;
    }
}


/*  #####################################styling the contact us page ##################################### */

.contact {
    background-image: linear-gradient(to right bottom, #05371b, #006127, #008d2c, #21bb29, #4beb12);
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

.main_contact {
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: space-between;
    width: 100vw;
    height: 90%;
    bottom: 0px;
}

.main_contact_info {
    color: white;
    display: flex;
    align-items: center;
    padding-left: 40px;
    justify-content: center;
    flex-direction: column;
    width: 35vw;
}

.main_contact_info p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 800;
}

.main_contact_info .info_item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.main_contact_info .info_item span {
    width: 70%;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.main_contact_form {
    color: white;
    display: flex;
    align-items: center;
    padding-right: 40px;
    justify-content: center;
    flex-direction: column;
    margin-top: 60px;
    width: 35vw;
    margin-right: 15px;
}

.main_contact_form h4 {
    margin-bottom: 20px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input[type='text'],
input[type='tel'],
input[type='email'],
textarea {
    width: 35vw;
    margin-bottom: 20px;
    padding: 10px;
    outline: none;
}

textarea {
    height: 100px;
}

input[type='submit'] {
    padding: 10px;
    margin-left: 0px;
    margin-right: 75%;
}


/*  responsiveness for contact section */

@media only screen and (max-width: 622px) {
    .main_contact {
        flex-direction: column-reverse;
    }
    input[type='text'],
    input[type='tel'],
    input[type='email'],
    textarea {
        width: 70vw;
        margin-bottom: 20px;
        padding: 10px;
        outline: none;
    }
    textarea {
        height: 100px;
    }
    input[type='submit'] {
        padding: 10px;
        margin-left: 0px;
        margin-right: 75%;
    }
    .contact {
        height: 180vh;
    }
    .main_contact_info {
        width: 70vw;
    }
}


/*  styling the cart page------------------ */

@media only screen and (max-width: 991px) {
    .col-md-12 {
        margin-top: 40px;
    }
}


.col-md-4 form{
    color: black;
}

.cart_container {
    display: flex;
    flex-direction: column-reverse !important;
    align-items: center;
    justify-content: center;
    width: 90vw;
    color: white;
}

.cart_container h4 {
    color: black;
}

.table h2 {
    color: black;
}

.plate_container {
    margin: 0px 0px 10px 0px;
}

.plate_container h2 {
    margin-bottom: 15px;
    color: black;
}

.col-md-6 {
    width: 80%;
}

.cart_icon {
    width: 50px;
    height: auto;
    float: right;
    margin: 20px;
    cursor: pointer;
}

.recipt {
    display: none;
    flex-direction: column;
    margin-bottom: 40px;
}

.show {
    display: flex !important;
}


/*  styling the registration page  */

.form_container {
    background-color: rgb(209, 207, 199);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form_container form {
    margin-left: 20px;
}


/*  styling the confirm order page  */

.confirm_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


/*  styling the registration page */

.input_container {
    width: 80%;
    margin-top: 50px;
}

.input_container input[type="password"] {
    width: 44% !important;
    min-width: 340px;
}


/*  styling the login page  */

.login_form input[type="email"],
input[type="password"] {
    height: 50px;
    width: 100%;
}

.login_form {
    width: 40%;
    min-width: 40vw;
}

.form_container h4 {
    font-size: 27px;
    margin-bottom: 21px;
    color: #163e11;
}